{% extends "base.html" %}

{% block titulo %} Películas {% endblock %}

{% block contenido %}

<body background="https://images3.alphacoders.com/132/thumb-1920-1326193.png"></body>
<div class="card" style="max-width: 80rem; background-color: rgb(0, 170, 228, 0.6);">
    <div class="card-header">
        <a name= "" id=""  href="{% url 'crear' %}" class= "btn btn-light text-dark" role='button'> Crear película</a>
    </div>
    <div class="card-body">
        <h4 class="card-title" style="color: #ffffff;">Películas</h4>
        
        <div class="table-responsive">
            <table class="table responsive">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">ID</th>
                        <th scope="col" class="text-white">Título</th>
                        <th scope="col" class="text-white">Imagen</th>
                        <th scope="col" class="text-white">Descripción</th>
                        <th scope="col" class="text-white">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pelicula in peliculas %}
                    <tr class="">
                        <td class="text-white" scope="row">{{ pelicula.id }}</td>
                        <td class="text-white">{{ pelicula.titulo }}</td>
                        <td><img src="{{ pelicula.imagen.url }}" height="100"></td>
                        <td class="text-white">{{ pelicula.descripcion }}</td>
                        <td>
                            <a href="{% url 'editar' pelicula.id %}" class="btn btn-info text-white" style="color: #ffffff;">Editar</a>
                            <a href="{% url 'eliminar' pelicula.id %}" class="btn btn-danger text-white" style="color: #ffffff;">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>


{% endblock %}